<div class="jumbotron index-list">
  <h1>Welcome to Posts With Friends!</h1>
  <p>A social media startup that is in progress.</p>
  {{#link-to 'sign-up' class="btn btn-primary btn-lg"}}Sign Up!{{/link-to}}
  OR
  {{#link-to 'sign-in' class="btn btn-info btn-lg"}}Sign In!{{/link-to}}
</div>
