<form class="form-group" {{action 'save' on='submit'}}>
  <label>Title</label>
  {{input
    value=post.title
    class="form-control"
  }}
  <label>Content</label>
  {{input
    value=post.content
    class="form-control"
  }}
  <button class='btn btn-xs btn-danger' type="submit">Submit</button>
</form>
