<div class="show-post panel panel-default index-list shadow">
  <div class="panel-heading">
    <h3>{{post.title}}</h3>
  </div>
  <div class="panel-body">
    <div class="post-content">
      <p>{{post.content}}</p>
    </div>
  </div>
</div>

{{#link-to "posts" class='btn btn-default btn-s'}}Back{{/link-to}}
