<tr>
  <td>{{#link-to 'post' post class="btn btn-default"}}{{post.title}}{{/link-to}}</td>
  <td class="post-index">
    {{#if post.editable}}
      <button {{action 'deletePost'}} class='btn btn-danger btn-xs'>Delete</button>
      {{#link-to 'edit' post}}<button class='btn btn-warning btn-xs'>Update</button>{{/link-to}}
    {{/if}}
  </td>
</tr>
{{outlet}}
