@import 'bootstrap';
@import 'bootstrap/theme';

.post-index {
  display: inline-block;
}

.show-post {
  text-align: center;
}

.posts-table {
  border: 1px solid black;
}

.posts-table tr {
  border: 1px solid black;
}
