@import 'bootstrap';
@import 'bootstrap/theme';

.index-list {
  margin: 30px 10%;
  text-align: center;
}

.post-index-wrapper {
  text-align: center;
}

.show-post {
  text-align: center;
}

.post-pill {
  // margin: 10px 0;
}

.title-bar {
  text-align: center;
}

.post-content {
  margin: 25px 0;
}

.user-actions {
  margin: 0;
  padding: 0;
  text-align: left;
}

.index-title {
  font-size: 2em;
  font-weight: bold;
}
