@import 'bootstrap';
@import 'bootstrap/theme';

body {
  padding-top: 70px;
}

.index-list {
  margin: 30px 10%;
  text-align: center;
}

.post-index-wrapper {
  text-align: center;
}

.show-post {
  text-align: center;
}

.shadow {
  box-shadow: 0 0 15px black;
}

.title-bar {
  text-align: center;
}

.post-content {
  margin: 25px 0;
  white-space: pre-line;
}

.user-actions {
  margin: 0;
  padding: 0;
  text-align: left;
}

.index-title {
  font-size: 2em;
  font-weight: bold;
}
