<ul>
  <li>{{model.title}}</li>
  <li>{{model.content}}</li>
  <li><button class="btn btn-default">Update</button></li>
</ul>
{{#link-to "posts" class='btn btn-default btn-s'}}Back{{/link-to}}

{{outlet}}
