<h1>Stuff is working!</h1>

{{#each model as |post|}}
  {{#link-to 'post' post class="btn btn-default"}}{{post.title}}{{/link-to}}<br>
{{/each}}
{{#link-to "new" class='btn btn-default btn-s'}}Create New Post{{/link-to}}
{{#link-to "application" class='btn btn-default btn-s'}}Back{{/link-to}}
{{outlet}}
