<div class="title-bar">
  <h4>News Feed</h4>
</div>
<div class="post-index-wrapper">
  {{#each model as |post|}}
    {{post-index post=post deletePost='deletePost'}}
  {{/each}}
</div>
<div>
  {{#link-to "application" class='btn btn-default btn-s'}}Back{{/link-to}}
</div>
